[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://cloudrouter.dev/", :title "Show HN: Skill that lets Claude Code/Codex spin up VMs and GPUs", :link "https://cloudrouter.dev/", :published-at #inst "2026-02-13T19:02:17.000-00:00", :content "Comments"}, :excerpts [{:text "Show HN: Skill that lets Claude Code/Codex spin up VMs and GPUs", :matched-terms ["claude"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://openai.com/index/new-result-theoretical-physics/", :title "GPT-5.2 derives a new result in theoretical physics", :link "https://openai.com/index/new-result-theoretical-physics/", :published-at #inst "2026-02-13T19:20:12.000-00:00", :content "Comments"}, :excerpts [{:text "GPT-5.2 derives a new result in theoretical physics", :matched-terms ["gpt"], :source :title}]}]