[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://github.com/delta-hq/cc-canary", :title "CC-Canary: Detect early signs of regressions in Claude Code", :link "https://github.com/delta-hq/cc-canary", :published-at #inst "2026-04-24T17:53:37.000-00:00", :content "Comments"}, :excerpts [{:text "CC-Canary: Detect early signs of regressions in Claude Code", :matched-terms ["claude"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://developers.openai.com/api/docs/changelog", :title "OpenAI releases GPT-5.5 and GPT-5.5 Pro in the API", :link "https://developers.openai.com/api/docs/changelog", :published-at #inst "2026-04-24T18:23:32.000-00:00", :content "Comments"}, :excerpts [{:text "OpenAI releases GPT-5.5 and GPT-5.5 Pro in the API", :matched-terms ["gpt"], :source :title}]}]