[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://cacm.acm.org/opinion/now-is-the-time-to-give-llms-access-to-the-acm-digital-library/", :title "Now Is the Time to Give LLMs Access to the ACM Digital Library", :link "https://cacm.acm.org/opinion/now-is-the-time-to-give-llms-access-to-the-acm-digital-library/", :published-at #inst "2026-07-28T15:01:12.000-00:00", :content "Comments"}, :excerpts [{:text "Now Is the Time to Give LLMs Access to the ACM Digital Library", :matched-terms ["llm"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.anthropic.com/research/discovering-cryptographic-weaknesses", :title "Discovering Cryptographic Weaknesses with Claude", :link "https://www.anthropic.com/research/discovering-cryptographic-weaknesses", :published-at #inst "2026-07-28T17:22:16.000-00:00", :content "Comments"}, :excerpts [{:text "Discovering Cryptographic Weaknesses with Claude", :matched-terms ["claude"], :source :title}]}]