[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://seqpu.com/CPUsArentDead/", :title "CPUs Aren't Dead. Gemma2B Out Scored GPT-3.5 Turbo on Test That Made It Famous", :link "https://seqpu.com/CPUsArentDead/", :published-at #inst "2026-04-15T17:07:36.000-00:00", :content "Comments"}, :excerpts [{:text "CPUs Aren't Dead. Gemma2B Out Scored GPT-3.5 Turbo on Test That Made It Famous", :matched-terms ["gpt"], :source :title}]}]