[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://old.reddit.com/r/LocalLLaMA/comments/1ufo0un/us_govt_to_individually_approve_who_gets_gpt_56/", :title "US Govt to individually approve who gets GPT 5.6", :link "https://old.reddit.com/r/LocalLLaMA/comments/1ufo0un/us_govt_to_individually_approve_who_gets_gpt_56/", :published-at #inst "2026-06-26T06:24:39.000-00:00", :content "Comments"}, :excerpts [{:text "US Govt to individually approve who gets GPT 5.6", :matched-terms ["gpt"], :source :title}]}]