[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.stavros.io/posts/how-i-write-software-with-llms/", :title "How I write software with LLMs", :link "https://www.stavros.io/posts/how-i-write-software-with-llms/", :published-at #inst "2026-03-16T01:24:09.000-00:00", :content "Comments"}, :excerpts [{:text "How I write software with LLMs", :matched-terms ["llm"], :source :title}]}]