[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://github.com/gastownhall/gastown/issues/3649", :title "Does Gas Town 'steal' usage from users' LLM credits to improve itself?", :link "https://github.com/gastownhall/gastown/issues/3649", :published-at #inst "2026-04-15T20:49:48.000-00:00", :content "Comments"}, :excerpts [{:text "Does Gas Town 'steal' usage from users' LLM credits to improve itself?", :matched-terms ["llm"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://chatgpt.com/apps/spreadsheets/", :title "ChatGPT for Excel", :link "https://chatgpt.com/apps/spreadsheets/", :published-at #inst "2026-04-15T21:21:05.000-00:00", :content "Comments"}, :excerpts [{:text "ChatGPT for Excel", :matched-terms ["gpt"], :source :title}]}]