[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.tryai.dev/blog/grok-4.5-vs-gpt-5.5-vs-claude-build-off", :title "We made Grok 4.5, GPT-5.5, and Claude build the same apps", :link "https://www.tryai.dev/blog/grok-4.5-vs-gpt-5.5-vs-claude-build-off", :published-at #inst "2026-07-08T23:27:14.000-00:00", :content "Comments"}, :excerpts [{:text "We made Grok 4.5, GPT-5.5, and Claude build the same apps", :matched-terms ["gpt" "claude"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.alecscollon.com/blog/llm-burnout/", :title "I Think I Have LLM Burnout", :link "https://www.alecscollon.com/blog/llm-burnout/", :published-at #inst "2026-07-09T01:56:28.000-00:00", :content "Comments"}, :excerpts [{:text "I Think I Have LLM Burnout", :matched-terms ["llm"], :source :title}]}]