[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://build.ms/2026/4/1/the-claude-code-leak/", :title "The Claude Code Leak", :link "https://build.ms/2026/4/1/the-claude-code-leak/", :published-at #inst "2026-04-02T02:26:05.000-00:00", :content "Comments"}, :excerpts [{:text "The Claude Code Leak", :matched-terms ["claude"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://old.reddit.com/r/programming/comments/1s9jkzi/announcement_temporary_llm_content_ban/", :title "r/programming bans all discussion of LLM programming", :link "https://old.reddit.com/r/programming/comments/1s9jkzi/announcement_temporary_llm_content_ban/", :published-at #inst "2026-04-02T05:33:20.000-00:00", :content "Comments"}, :excerpts [{:text "r/programming bans all discussion of LLM programming", :matched-terms ["llm"], :source :title}]}]