[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://github.com/exmergo/research-chatgpt-guesses-between-1-and-100", :title "GPT Guesses Between 1 and 100", :link "https://github.com/exmergo/research-chatgpt-guesses-between-1-and-100", :published-at #inst "2026-05-25T11:46:09.000-00:00", :content "Comments"}, :excerpts [{:text "GPT Guesses Between 1 and 100", :matched-terms ["gpt"], :source :title}]}]