[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.anthropic.com/news/claude-design-anthropic-labs", :title "Claude Design", :link "https://www.anthropic.com/news/claude-design-anthropic-labs", :published-at #inst "2026-04-17T15:04:09.000-00:00", :content "Comments"}, :excerpts [{:text "Claude Design", :matched-terms ["claude"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.claudecodecamp.com/p/i-measured-claude-4-7-s-new-tokenizer-here-s-what-it-costs-you", :title "Claude Opus 4.7 costs 20–30% more per session", :link "https://www.claudecodecamp.com/p/i-measured-claude-4-7-s-new-tokenizer-here-s-what-it-costs-you", :published-at #inst "2026-04-17T15:29:36.000-00:00", :content "Comments"}, :excerpts [{:text "Claude Opus 4.7 costs 20–30% more per session", :matched-terms ["claude"], :source :title}]}]