[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://forum.level1techs.com/t/why-your-local-llm-feels-dumber-than-it-is/253917", :title "Why your local LLM feels dumber than it is", :link "https://forum.level1techs.com/t/why-your-local-llm-feels-dumber-than-it-is/253917", :published-at #inst "2026-08-22T18:14:16.000-00:00", :content "Comments"}, :excerpts [{:text "Why your local LLM feels dumber than it is", :matched-terms ["llm"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.primeintellect.ai/research/nanogpt-speedrun", :title "NanoGPT Speedrun Frontier", :link "https://www.primeintellect.ai/research/nanogpt-speedrun", :published-at #inst "2026-08-22T22:14:27.000-00:00", :content "Comments"}, :excerpts [{:text "NanoGPT Speedrun Frontier", :matched-terms ["gpt"], :source :title}]}]