[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://modelrift.com/blog/openscad-llm-benchmark/", :title "Antigravity 2.0 Tops the OpenSCAD Architectural 3D LLM Benchmark", :link "https://modelrift.com/blog/openscad-llm-benchmark/", :published-at #inst "2026-05-22T10:38:26.000-00:00", :content "Comments"}, :excerpts [{:text "... 2.0 Tops the OpenSCAD Architectural 3D LLM Benchmark", :matched-terms ["llm"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://annas-archive.gl/blog/llms-txt.html", :title "If you're an LLM, please read this – Anna's Blog", :link "https://annas-archive.gl/blog/llms-txt.html", :published-at #inst "2026-05-22T11:28:08.000-00:00", :content "Comments"}, :excerpts [{:text "If you're an LLM, please read this – Anna's Blog", :matched-terms ["llm"], :source :title}]}]