[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://gitlab.redox-os.org/redox-os/redox/-/blob/master/CONTRIBUTING.md", :title "Redox OS has adopted a Certificate of Origin policy and a strict no-LLM policy", :link "https://gitlab.redox-os.org/redox-os/redox/-/blob/master/CONTRIBUTING.md", :published-at #inst "2026-03-10T08:54:53.000-00:00", :content "Comments"}, :excerpts [{:text "... a Certificate of Origin policy and a strict no-LLM policy", :matched-terms ["llm"], :source :title}]}]