[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://twitter.com/kuberwastaken/status/2089377982536388964", :title "Claude writing a macOS driver for my obscure HP printer built only for Windows", :link "https://twitter.com/kuberwastaken/status/2089377982536388964", :published-at #inst "2026-08-18T12:22:58.000-00:00", :content "Comments"}, :excerpts [{:text "Claude writing a macOS driver for my obscure HP printer...", :matched-terms ["claude"], :source :title}]}]