[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://llm-timeline.com/", :title "Show HN: AI Timeline – 171 LLMs from Transformer (2017) to GPT-5.3 (2026)", :link "https://llm-timeline.com/", :published-at #inst "2026-02-23T09:07:44.000-00:00", :content "Comments"}, :excerpts [{:text "Show HN: AI Timeline – 171 LLMs from Transformer (2017) to GPT-5.3 (2026)", :matched-terms ["llm" "gpt"], :source :title}]}]