[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://support.claude.com/en/articles/11940350-claude-code-model-configuration", :title "Claude Pro: Opus model will only be available if extra usage is enabled", :link "https://support.claude.com/en/articles/11940350-claude-code-model-configuration", :published-at #inst "2026-04-27T22:13:17.000-00:00", :content "Comments"}, :excerpts [{:text "Claude Pro: Opus model will only be available if extra...", :matched-terms ["claude"], :source :title}]}]