[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://github.com/nex-agi/Nex-N2/issues/4", :title "Rio de Janeiro's \"homegrown\" LLM appears to be a merge of an existing model", :link "https://github.com/nex-agi/Nex-N2/issues/4", :published-at #inst "2026-06-14T15:37:31.000-00:00", :content "Comments"}, :excerpts [{:text "Rio de Janeiro's \"homegrown\" LLM appears to be a merge of an existing model", :matched-terms ["llm"], :source :title}]}]