[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.promptarmor.com/resources/gpt-for-google-sheets-data-exfiltration", :title "ChatGPT for Google Sheets is vulnerable to data exfiltration and phishing", :link "https://www.promptarmor.com/resources/gpt-for-google-sheets-data-exfiltration", :published-at #inst "2026-05-31T20:35:38.000-00:00", :content "Comments"}, :excerpts [{:text "ChatGPT for Google Sheets is vulnerable to data...", :matched-terms ["gpt"], :source :title}]}]