[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://openai.com/index/work-with-codex-from-anywhere/", :title "Codex is now in the ChatGPT mobile app", :link "https://openai.com/index/work-with-codex-from-anywhere/", :published-at #inst "2026-05-14T20:06:14.000-00:00", :content "Comments"}, :excerpts [{:text "Codex is now in the ChatGPT mobile app", :matched-terms ["gpt"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=48142964", :title "Elevated error rates on Opus 4.7", :link "https://status.claude.com/incidents/8z7l5zcy0v3b", :published-at #inst "2026-05-15T00:22:53.000-00:00", :content "Article URL: https://status.claude.com/incidents/8z7l5zcy0v3b Comments URL: https://news.ycombinator.com/item?id=48142964 Points: 16 # Comments: 13"}, :excerpts [{:text "Article URL: https://status.claude.com/incidents/8z7l5zcy0v3b Comments URL:...", :matched-terms ["claude"], :source :content}]}]