[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://openreview.net/challenge?redirect=%2Fforum%3Fid%3DklU4737opt", :title "Position: LLMs Can't Jump", :link "https://openreview.net/challenge?redirect=%2Fforum%3Fid%3DklU4737opt", :published-at #inst "2026-08-05T11:01:37.000-00:00", :content "Comments"}, :excerpts [{:text "Position: LLMs Can't Jump", :matched-terms ["llm"], :source :title}]}]