[{:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=47091469", :title "Making frontier cybersecurity capabilities available to defenders", :link "https://www.anthropic.com/news/claude-code-security", :published-at #inst "2026-02-20T18:03:19.000-00:00", :content "Article URL: https://www.anthropic.com/news/claude-code-security Comments URL: https://news.ycombinator.com/item?id=47091469 Points: 90 # Comments: 44"}, :excerpts [{:text "Article URL: https://www.anthropic.com/news/claude-code-security Comments URL:...", :matched-terms ["claude"], :source :content}]}]