[{:rule-id "clojure-db", :item {:feed-id "planet-clojure", :item-id "https://clojure-diary.gitlab.io/2026/07/29/introduction-to-honeysql-clojure-sql-library", :title "Introduction To honeysql - Clojure SQL Library", :link "https://clojure-diary.gitlab.io/2026/07/29/introduction-to-honeysql-clojure-sql-library.html", :published-at #inst "2026-07-29T05:20:00.000-00:00", :content "Notes Code honeysql Postgres and Clojure"}, :excerpts [{:text "Introduction To honeysql - Clojure SQL Library", :matched-terms ["clojure" "sql"], :source :title} {:text "Notes Code honeysql Postgres and Clojure", :matched-terms ["clojure" "sql"], :source :content}]}]