[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://aarushgupta.io/posts/kan-fpga/", :title "Ultrafast machine learning on FPGAs via Kolmogorov-Arnold Networks", :link "https://aarushgupta.io/posts/kan-fpga/", :published-at #inst "2026-06-09T19:21:45.000-00:00", :content "Comments"}, :excerpts [{:text "Ultrafast machine learning on FPGAs via Kolmogorov-Arnold Networks", :matched-terms ["machine learning"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://jonready.com/blog/posts/claude-fable5-is-allowed-to-sabotage-your-app-if-youre-a-competitor.html", :title "If Claude Fable stops helping you, you'll never know", :link "https://jonready.com/blog/posts/claude-fable5-is-allowed-to-sabotage-your-app-if-youre-a-competitor.html", :published-at #inst "2026-06-09T21:19:11.000-00:00", :content "Comments"}, :excerpts [{:text "If Claude Fable stops helping you, you'll never know", :matched-terms ["claude"], :source :title}]}]