[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://github.com/anthropics/claude-code/issues/29045", :title "Claude Desktop spins up a VM without no way of stopping it", :link "https://github.com/anthropics/claude-code/issues/29045", :published-at #inst "2026-06-10T17:11:56.000-00:00", :content "Comments"}, :excerpts [{:text "Claude Desktop spins up a VM without no way of stopping...", :matched-terms ["claude"], :source :title}]}]