[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://openai.com/index/introducing-chatgpt-images-2-0/", :title "ChatGPT Images 2.0", :link "https://openai.com/index/introducing-chatgpt-images-2-0/", :published-at #inst "2026-04-21T18:50:00.000-00:00", :content "Comments"}, :excerpts [{:text "ChatGPT Images 2.0", :matched-terms ["gpt"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://bsky.app/profile/edzitron.com/post/3mjzxwfx3qs2a", :title "Claude Code to be removed from Pro Tier?", :link "https://bsky.app/profile/edzitron.com/post/3mjzxwfx3qs2a", :published-at #inst "2026-04-21T22:36:24.000-00:00", :content "Comments"}, :excerpts [{:text "Claude Code to be removed from Pro Tier?", :matched-terms ["claude"], :source :title}]}]