[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.ayush.digital/blog/the-memory-heist", :title "I tricked Claude into leaking your deepest, darkest secrets", :link "https://www.ayush.digital/blog/the-memory-heist", :published-at #inst "2026-07-15T06:28:00.000-00:00", :content "Comments"}, :excerpts [{:text "I tricked Claude into leaking your deepest, darkest secrets", :matched-terms ["claude"], :source :title}]}]