[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://simonwillison.net/2026/Apr/20/claude-token-counts/", :title "Claude Token Counter, now with model comparisons", :link "https://simonwillison.net/2026/Apr/20/claude-token-counts/", :published-at #inst "2026-04-20T00:56:40.000-00:00", :content "Comments"}, :excerpts [{:text "Claude Token Counter, now with model comparisons", :matched-terms ["claude"], :source :title}]}]