[{:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=48513728", :title "Shepherd's Dog: A Game by the Most Dangerous AI Model", :link "https://koenvangilst.nl/lab/claude-fable-shepherds-dog", :published-at #inst "2026-06-13T05:44:46.000-00:00", :content "Article URL: https://koenvangilst.nl/lab/claude-fable-shepherds-dog Comments URL: https://news.ycombinator.com/item?id=48513728 Points: 24 # Comments: 18"}, :excerpts [{:text "Article URL: https://koenvangilst.nl/lab/claude-fable-shepherds-dog Comments URL:...", :matched-terms ["claude"], :source :content}]}]