[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://blog.sao.dev/cpns-llms-distributed-apps/", :title "Colored Petri Nets, LLMs, and distributed applications", :link "https://blog.sao.dev/cpns-llms-distributed-apps/", :published-at #inst "2026-02-14T21:08:08.000-00:00", :content "Comments"}, :excerpts [{:text "Colored Petri Nets, LLMs, and distributed applications", :matched-terms ["llm"], :source :title}]}]