[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.seangoedecke.com/fast-llm-inference/", :title "Two different tricks for fast LLM inference", :link "https://www.seangoedecke.com/fast-llm-inference/", :published-at #inst "2026-02-15T09:27:33.000-00:00", :content "Comments"}, :excerpts [{:text "Two different tricks for fast LLM inference", :matched-terms ["llm"], :source :title}]}]