[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://laurentiugabriel.github.io/blog/articles/how-i-use-llms-to-learn/", :title "How I use LLMs to learn complex topics", :link "https://laurentiugabriel.github.io/blog/articles/how-i-use-llms-to-learn/", :published-at #inst "2026-08-09T19:16:49.000-00:00", :content "Comments"}, :excerpts [{:text "How I use LLMs to learn complex topics", :matched-terms ["llm"], :source :title}]}]