[{:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=48205415", :title "Learnings from 100K lines of Rust with AI (2025)", :link "https://zfhuang99.github.io/rust/claude%20code/codex/contracts/spec-driven%20development/2025/12/01/rust-with-ai.html", :published-at #inst "2026-05-20T10:04:28.000-00:00", :content "Article URL: https://zfhuang99.github.io/rust/claude%20code/codex/contracts/spec-driven%20development/2025/12/01/rust-with-ai.html Comments URL: https://news.ycombinator.com/item?id=48205415 Points: 81 # Comments: 86"}, :excerpts [{:text "Article URL:...", :matched-terms ["claude"], :source :content}]}]