[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://news.ycombinator.com/item?id=47282777", :title "Tell HN: I'm 60 years old. Claude Code has ignited a passion again", :link "https://news.ycombinator.com/item?id=47282777", :published-at #inst "2026-03-07T00:05:06.000-00:00", :content "Comments"}, :excerpts [{:text "Tell HN: I'm 60 years old. Claude Code has ignited a passion again", :matched-terms ["claude"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://blog.katanaquant.com/p/your-llm-doesnt-write-correct-code", :title "LLMs work best when the user defines their acceptance criteria first", :link "https://blog.katanaquant.com/p/your-llm-doesnt-write-correct-code", :published-at #inst "2026-03-07T01:17:57.000-00:00", :content "Comments"}, :excerpts [{:text "LLMs work best when the user defines their acceptance...", :matched-terms ["llm"], :source :title}]}]