[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.sarvam.ai/blogs/sarvam-30b-105b", :title "Sarvam 105B, the first competitive Indian open source LLM", :link "https://www.sarvam.ai/blogs/sarvam-30b-105b", :published-at #inst "2026-03-07T07:43:57.000-00:00", :content "Comments"}, :excerpts [{:text "... 105B, the first competitive Indian open source LLM", :matched-terms ["llm"], :source :title}]}]