[{:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=47915274", :title "Show HN: Startup Equity Adventure Game", :link "https://options-game-polymathrobotics.pythonanywhere.com/", :published-at #inst "2026-04-26T22:14:59.000-00:00", :content "I put this together (with Claude) as a semi-gamified way for folks to learn about startup equity. Take a look, and share your scorecard :) Comments URL: https://news.ycombinator.com/item?id=47915274 Points: 13 # Comments: 6"}, :excerpts [{:text "I put this together (with Claude) as a semi-gamified way for folks to learn about...", :matched-terms ["claude"], :source :content}]}]