[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.ycombinator.com/companies/mbodi-ai/jobs/WYAcNkX-founding-machine-learning-engineer", :title "Mbodi AI (YC P25) Is Hiring Founding Machine Learning Engineer (Robotics)", :link "https://www.ycombinator.com/companies/mbodi-ai/jobs/WYAcNkX-founding-machine-learning-engineer", :published-at #inst "2026-06-06T12:00:56.000-00:00", :content "Comments"}, :excerpts [{:text "Mbodi AI (YC P25) Is Hiring Founding Machine Learning Engineer (Robotics)", :matched-terms ["machine learning"], :source :title}]}]