[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://twitter.com/OpenAI/status/2074704958419792299", :title "GPT-5.6 Sol, along with Terra and Luna, will launch publicly this Thursday", :link "https://twitter.com/OpenAI/status/2074704958419792299", :published-at #inst "2026-07-08T04:12:13.000-00:00", :content "Comments"}, :excerpts [{:text "GPT-5.6 Sol, along with Terra and Luna, will launch...", :matched-terms ["gpt"], :source :title}]}]