[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://cognition.com/blog/swe-1-7", :title "SWE-1.7 Reach Near GPT 5.5 and Opus Intelligence", :link "https://cognition.com/blog/swe-1-7", :published-at #inst "2026-07-08T16:19:36.000-00:00", :content "Comments"}, :excerpts [{:text "SWE-1.7 Reach Near GPT 5.5 and Opus Intelligence", :matched-terms ["gpt"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://openai.com/index/introducing-gpt-live/", :title "GPT‑Live", :link "https://openai.com/index/introducing-gpt-live/", :published-at #inst "2026-07-08T17:03:19.000-00:00", :content "Comments"}, :excerpts [{:text "GPT‑Live", :matched-terms ["gpt"], :source :title}]}]