[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://json-render.dev/", :title "JSON-render: LLM-based JSON-to-UI tool", :link "https://json-render.dev/", :published-at #inst "2026-01-24T19:12:56.000-00:00", :content "Comments"}, :excerpts [{:text "JSON-render: LLM-based JSON-to-UI tool", :matched-terms ["llm"], :source :title}]}]