[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://twitter.com/BoWang87/status/2037648937453232504", :title "Further human + AI + proof assistant work on Knuth's \"Claude Cycles\" problem", :link "https://twitter.com/BoWang87/status/2037648937453232504", :published-at #inst "2026-03-28T18:38:59.000-00:00", :content "Comments"}, :excerpts [{:text "... human + AI + proof assistant work on Knuth's \"Claude Cycles\" problem", :matched-terms ["claude"], :source :title}]} {:rule-id "rails", :item {:feed-id "hn", :item-id "https://inpharmd.com/jobs/senior-ruby-on-rails-engineer", :title "InpharmD (YC W21) Is Hiring – Senior Ruby on Rails Developer", :link "https://inpharmd.com/jobs/senior-ruby-on-rails-engineer", :published-at #inst "2026-03-28T21:35:22.000-00:00", :content "Comments"}, :excerpts [{:text "InpharmD (YC W21) Is Hiring – Senior Ruby on Rails Developer", :matched-terms ["rails" "ruby"], :source :title}]}]