[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://futuresearch.ai/blog/litellm-attack-transcript/", :title "My minute-by-minute response to the LiteLLM malware attack", :link "https://futuresearch.ai/blog/litellm-attack-transcript/", :published-at #inst "2026-03-26T15:48:40.000-00:00", :content "Comments"}, :excerpts [{:text "My minute-by-minute response to the LiteLLM malware attack", :matched-terms ["llm"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://github.com/salespeak-ai/buyer-eval-skill", :title "Show HN: Claude skill that evaluates B2B vendors by talking to their AI agents", :link "https://github.com/salespeak-ai/buyer-eval-skill", :published-at #inst "2026-03-26T16:00:47.000-00:00", :content "Comments"}, :excerpts [{:text "Show HN: Claude skill that evaluates B2B vendors by talking to...", :matched-terms ["claude"], :source :title}]}]