[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.ycombinator.com/companies/litellm/jobs/unlCynJ-founding-reliability-performance-engineer", :title "LiteLLM (YC W23): Founding Reliability Engineer – $200K-$270K and 0.5-1.0% equity", :link "https://www.ycombinator.com/companies/litellm/jobs/unlCynJ-founding-reliability-performance-engineer", :published-at #inst "2026-02-27T01:18:18.000-00:00", :content "Comments"}, :excerpts [{:text "LiteLLM (YC W23): Founding Reliability Engineer –...", :matched-terms ["llm"], :source :title}]}]