[{:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=46517458", :title "Stop Doom Scrolling, Start Doom Coding: Build via the terminal from your phone", :link "https://github.com/rberg27/doom-coding", :published-at #inst "2026-01-06T19:38:32.000-00:00", :content "I used Tailscale, an old laptop, Claude Code, and Termius to code from my phone anywhere I have Internet connection. Great for parties where you rather be home tinkering. Comments URL: https://news.ycombinator.com/item?id=46517458 Points: 279 # Comments: 207"}, :excerpts [{:text "\n<p>I used Tailscale, an old laptop, Claude Code, and Termius to code from my phone anywhere...", :matched-terms ["claude"], :source :content}]}]