[{:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=47251259", :title "NanoGPT Slowrun: Language Modeling with Limited Data, Infinite Compute", :link "https://qlabs.sh/slowrun", :published-at #inst "2026-03-04T17:56:04.000-00:00", :content "Article URL: https://qlabs.sh/slowrun Comments URL: https://news.ycombinator.com/item?id=47251259 Points: 112 # Comments: 23"}, :excerpts [{:text "NanoGPT Slowrun: Language Modeling with Limited Data,...", :matched-terms ["gpt"], :source :title}]}]