[{:rule-id "editor-wars", :item {:feed-id "hn", :item-id "https://rune.build/blog/rune-1-1-release", :title "Rune 1.1: adds Python, an Emacs editor, a symbol index and is now free", :link "https://rune.build/blog/rune-1-1-release", :published-at #inst "2026-07-30T21:47:31.000-00:00", :content "Comments"}, :excerpts [{:text "Rune 1.1: adds Python, an Emacs editor, a symbol index and is now free", :matched-terms ["editor" "emacs"], :source :title}]}]