[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://manifest.build/blog/why-we-deprecated-our-llm-router/", :title "Everyone is building LLM routers, we deprecated ours", :link "https://manifest.build/blog/why-we-deprecated-our-llm-router/", :published-at #inst "2026-07-31T18:06:39.000-00:00", :content "Comments"}, :excerpts [{:text "Everyone is building LLM routers, we deprecated ours", :matched-terms ["llm"], :source :title}]}]