[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://slcyber.io/research-center/exploit-brokers-pay-500000-for-a-wordpress-rce-i-found-one-with-gpt5-6/", :title "Exploit brokers pay $500k for WordPress RCEs. I found one with GPT5.6 and $25", :link "https://slcyber.io/research-center/exploit-brokers-pay-500000-for-a-wordpress-rce-i-found-one-with-gpt5-6/", :published-at #inst "2026-07-20T08:13:36.000-00:00", :content "Comments"}, :excerpts [{:text "... pay $500k for WordPress RCEs. I found one with GPT5.6 and $25", :matched-terms ["gpt"], :source :title}]}]