[{:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=49652996", :title "LLM Visualizer – Build a Transformer from Scratch", :link "https://jayvisaria.github.io/LLM-Visualizer/#/dashboard", :published-at #inst "2026-09-11T02:51:51.000-00:00", :content "Article URL: https://jayvisaria.github.io/LLM-Visualizer/#/dashboard Comments URL: https://news.ycombinator.com/item?id=49652996 Points: 11 # Comments: 4"}, :excerpts [{:text "LLM Visualizer – Build a Transformer from Scratch", :matched-terms ["llm"], :source :title} {:text "Article URL: https://jayvisaria.github.io/LLM-Visualizer/#/dashboard Comments URL:...", :matched-terms ["llm"], :source :content}]}]