[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.coderabbit.ai/blog/gpt-6-astra-code-review-evaluation", :title "GPT-6 Astra in code review: Gains, privacy, and cost", :link "https://www.coderabbit.ai/blog/gpt-6-astra-code-review-evaluation", :published-at #inst "2026-09-05T03:38:56.000-00:00", :content "Comments"}, :excerpts [{:text "GPT-6 Astra in code review: Gains, privacy, and cost", :matched-terms ["gpt"], :source :title}]}]