[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://simonwillison.net/2026/Sep/2/claudes-new-system-prompt/", :title "Claude's new system prompt doesn't want to reproduce song lyrics", :link "https://simonwillison.net/2026/Sep/2/claudes-new-system-prompt/", :published-at #inst "2026-09-05T10:32:09.000-00:00", :content "Comments"}, :excerpts [{:text "Claude's new system prompt doesn't want to reproduce...", :matched-terms ["claude"], :source :title}]}]