[{:rule-id "clojure-db", :item {:feed-id "planet-clojure", :item-id "https://1729.org.uk/posts/week-notes/2026.16/", :title "Week Notes 2026.16", :link "https://1729.org.uk/posts/week-notes/2026.16/", :published-at #inst "2026-04-18T00:00:00.000-00:00", :content "The Clojure documentary is released, taking inspiration from the Datomic Ions approach to logging and alerting, and configuring AWS Lambda schedules with Terraform."}, :excerpts [{:text "The Clojure documentary is released, taking inspiration from the Datomic Ions approach to logging and alerting, and...", :matched-terms ["clojure" "datomic"], :source :content}]}]