[{:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=47272797", :title "If AI has a bright future, why does AI think it doesn't?", :link "https://claude.ai/share/5373cca0-f085-40a7-9a58-3f30b4f76195", :published-at #inst "2026-03-06T09:21:56.000-00:00", :content "Article URL: https://claude.ai/share/5373cca0-f085-40a7-9a58-3f30b4f76195 Comments URL: https://news.ycombinator.com/item?id=47272797 Points: 5 # Comments: 6"}, :excerpts [{:text "Article URL: https://claude.ai/share/5373cca0-f085-40a7-9a58-3f30b4f76195...", :matched-terms ["claude"], :source :content}]}]