[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://blog.roboflow.com/openai-gpt-5-6/", :title "GPT 5.6 Sol is the best \"vision\" model OpenAI ever released", :link "https://blog.roboflow.com/openai-gpt-5-6/", :published-at #inst "2026-08-17T12:09:42.000-00:00", :content "Comments"}, :excerpts [{:text "GPT 5.6 Sol is the best \"vision\" model OpenAI ever...", :matched-terms ["gpt"], :source :title}]}]