[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.mendral.com/blog/frontier-model-lower-costs", :title "We decreased our LLM costs with Opus", :link "https://www.mendral.com/blog/frontier-model-lower-costs", :published-at #inst "2026-04-29T00:57:12.000-00:00", :content "Comments"}, :excerpts [{:text "We decreased our LLM costs with Opus", :matched-terms ["llm"], :source :title}]}]