[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www-cdn.anthropic.com/53566bf5440a10affd749724787c8913a2ae0841.pdf", :title "System Card: Claude Mythos Preview [pdf]", :link "https://www-cdn.anthropic.com/53566bf5440a10affd749724787c8913a2ae0841.pdf", :published-at #inst "2026-04-07T18:18:36.000-00:00", :content "Comments"}, :excerpts [{:text "System Card: Claude Mythos Preview [pdf]", :matched-terms ["claude"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=47677241", :title "Good Taste the Only Real Moat Left", :link "https://rajnandan.com/posts/taste-in-the-age-of-ai-and-llms/", :published-at #inst "2026-04-07T15:54:16.000-00:00", :content "Article URL: https://rajnandan.com/posts/taste-in-the-age-of-ai-and-llms/ Comments URL: https://news.ycombinator.com/item?id=47677241 Points: 138 # Comments: 112"}, :excerpts [{:text "... Comments URL:...", :matched-terms ["llm"], :source :content}]}]