[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://samhenri.gold/blog/20260418-claude-design/", :title "Thoughts and feelings around Claude Design", :link "https://samhenri.gold/blog/20260418-claude-design/", :published-at #inst "2026-04-18T19:19:24.000-00:00", :content "Comments"}, :excerpts [{:text "Thoughts and feelings around Claude Design", :matched-terms ["claude"], :source :title}]}]