[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.endorlabs.com/learn/claude-fable-5-mythos-grade-hype", :title "Claude Fable 5: mid-tier results on coding tasks", :link "https://www.endorlabs.com/learn/claude-fable-5-mythos-grade-hype", :published-at #inst "2026-06-11T16:03:21.000-00:00", :content "Comments"}, :excerpts [{:text "Claude Fable 5: mid-tier results on coding tasks", :matched-terms ["claude"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://github.com/varmabudharaju/agent-pd/blob/master/README.md", :title "Show HN: A police department for your Claude Code agents", :link "https://github.com/varmabudharaju/agent-pd/blob/master/README.md", :published-at #inst "2026-06-11T17:47:39.000-00:00", :content "Comments"}, :excerpts [{:text "Show HN: A police department for your Claude Code agents", :matched-terms ["claude"], :source :title}]}]