[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://github.com/david-g-3654/homebench", :title "Homebench – Benchmark local LLMs for speed, memory, and quality", :link "https://github.com/david-g-3654/homebench", :published-at #inst "2026-08-04T09:48:43.000-00:00", :content "Comments"}, :excerpts [{:text "Homebench – Benchmark local LLMs for speed, memory, and quality", :matched-terms ["llm"], :source :title}]}]