[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://brainless.swerdlow.dev", :title "Brainless: Shadcn components that look like Claude Code, Codex and Grok", :link "https://brainless.swerdlow.dev", :published-at #inst "2026-07-15T19:42:53.000-00:00", :content "Comments"}, :excerpts [{:text "Brainless: Shadcn components that look like Claude Code, Codex and Grok", :matched-terms ["claude"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://blog.greg.technology/2026/07/14/llm-networking-with-mikrotik.html", :title "LLM Networking with MikroTik", :link "https://blog.greg.technology/2026/07/14/llm-networking-with-mikrotik.html", :published-at #inst "2026-07-15T22:23:27.000-00:00", :content "Comments"}, :excerpts [{:text "LLM Networking with MikroTik", :matched-terms ["llm"], :source :title}]}]