[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.theocharis.dev/blog/llm-critics-are-right-i-use-llms-anyway/", :title "The LLM Critics Are Right. I Use LLMs Anyway", :link "https://www.theocharis.dev/blog/llm-critics-are-right-i-use-llms-anyway/", :published-at #inst "2026-07-16T11:59:01.000-00:00", :content "Comments"}, :excerpts [{:text "The LLM Critics Are Right. I Use LLMs Anyway", :matched-terms ["llm"], :source :title}]}]