[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://ccunpacked.dev/", :title "Claude Code Unpacked : A visual guide", :link "https://ccunpacked.dev/", :published-at #inst "2026-04-01T05:15:37.000-00:00", :content "Comments"}, :excerpts [{:text "Claude Code Unpacked : A visual guide", :matched-terms ["claude"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://blog.calif.io/p/mad-bugs-vim-vs-emacs-vs-claude", :title "Mad Bugs: Vim vs. Emacs vs. Claude", :link "https://blog.calif.io/p/mad-bugs-vim-vs-emacs-vs-claude", :published-at #inst "2026-04-01T06:05:57.000-00:00", :content "Comments"}, :excerpts [{:text "Mad Bugs: Vim vs. Emacs vs. Claude", :matched-terms ["claude"], :source :title}]}]