[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://fabiensanglard.net/agent.md/index.html", :title "My agent.md to improve LLM-assisted code quality", :link "https://fabiensanglard.net/agent.md/index.html", :published-at #inst "2026-08-23T17:59:52.000-00:00", :content "Comments"}, :excerpts [{:text "My agent.md to improve LLM-assisted code quality", :matched-terms ["llm"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://github.com/AlpinDale/gpt2.cmake", :title "Implementation of GPT-2 in pure CMake", :link "https://github.com/AlpinDale/gpt2.cmake", :published-at #inst "2026-08-23T21:41:17.000-00:00", :content "Comments"}, :excerpts [{:text "Implementation of GPT-2 in pure CMake", :matched-terms ["gpt"], :source :title}]}]