[{:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=48173962", :title "WriteUp: 16 Bytes of x86 that turn Matrix rain into sound", :link "https://hellmood.111mb.de//wake_up_16b_writeup.html", :published-at #inst "2026-05-17T23:10:09.000-00:00", :content "Article URL: https://hellmood.111mb.de//wake_up_16b_writeup.html Comments URL: https://news.ycombinator.com/item?id=48173962 Points: 102 # Comments: 18"}, :excerpts [{:text "Article URL: https://hellmood.111mb.de//wake_up_16b_writeup.html Comments...", :matched-terms ["llm"], :source :content}]}]