[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://glthr.com/XML-fundamental-to-Claude", :title "Why XML Tags Are So Fundamental to Claude", :link "https://glthr.com/XML-fundamental-to-Claude", :published-at #inst "2026-03-01T14:52:22.000-00:00", :content "Comments"}, :excerpts [{:text "Why XML Tags Are So Fundamental to Claude", :matched-terms ["claude"], :source :title}]}]