[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://openai.com/index/malta-chatgpt-plus-partnership/", :title "OpenAI and Government of Malta partner to roll out ChatGPT Plus to all citizens", :link "https://openai.com/index/malta-chatgpt-plus-partnership/", :published-at #inst "2026-05-16T20:14:06.000-00:00", :content "Comments"}, :excerpts [{:text "... and Government of Malta partner to roll out ChatGPT Plus to all citizens", :matched-terms ["gpt"], :source :title}]}]