[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://github.com/salmanmohammadi/nanocode/discussions/1", :title "Nanocode: The best Claude Code that $200 can buy in pure JAX on TPUs", :link "https://github.com/salmanmohammadi/nanocode/discussions/1", :published-at #inst "2026-04-05T14:21:17.000-00:00", :content "Comments"}, :excerpts [{:text "Nanocode: The best Claude Code that $200 can buy in pure JAX on TPUs", :matched-terms ["claude"], :source :title}]}]