[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://twitter.com/theo/status/2049645973350363168", :title "Claude Code refuses requests or charges extra if your commits mention \"OpenClaw\"", :link "https://twitter.com/theo/status/2049645973350363168", :published-at #inst "2026-04-30T14:36:58.000-00:00", :content "Comments"}, :excerpts [{:text "Claude Code refuses requests or charges extra if your...", :matched-terms ["claude"], :source :title}]}]