[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://vllm.ai/blog/2026-08-23-speculative-decoding-amd-gpus", :title "Speculative Decoding in vLLM on AMD GPUs", :link "https://vllm.ai/blog/2026-08-23-speculative-decoding-amd-gpus", :published-at #inst "2026-09-07T09:26:41.000-00:00", :content "Comments"}, :excerpts [{:text "Speculative Decoding in vLLM on AMD GPUs", :matched-terms ["llm"], :source :title}]}]