[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://pwning.systems/posts/llm-memory-program-analysis/", :title "I accidentally turned LLM memory into program analysis", :link "https://pwning.systems/posts/llm-memory-program-analysis/", :published-at #inst "2026-08-28T23:27:45.000-00:00", :content "Comments"}, :excerpts [{:text "I accidentally turned LLM memory into program analysis", :matched-terms ["llm"], :source :title}]}]