[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://github.com/Zyora-Dev/zse", :title "Show HN: ZSE – Open-source LLM inference engine with 3.9s cold starts", :link "https://github.com/Zyora-Dev/zse", :published-at #inst "2026-02-26T01:15:25.000-00:00", :content "Comments"}, :excerpts [{:text "Show HN: ZSE – Open-source LLM inference engine with 3.9s cold starts", :matched-terms ["llm"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://github.com/Intrect-io/OpenSwarm", :title "Show HN: OpenSwarm – Multi‑Agent Claude CLI Orchestrator for Linear/GitHub", :link "https://github.com/Intrect-io/OpenSwarm", :published-at #inst "2026-02-26T02:19:02.000-00:00", :content "Comments"}, :excerpts [{:text "Show HN: OpenSwarm – Multi‑Agent Claude CLI Orchestrator for Linear/GitHub", :matched-terms ["claude"], :source :title}]}]