[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://simonwillison.net/2026/Jan/26/chatgpt-containers/", :title "ChatGPT Containers can now run bash, pip/npm install packages and download files", :link "https://simonwillison.net/2026/Jan/26/chatgpt-containers/", :published-at #inst "2026-01-26T19:19:40.000-00:00", :content "Comments"}, :excerpts [{:text "ChatGPT Containers can now run bash, pip/npm install...", :matched-terms ["gpt"], :source :title}]}]