[{:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=48615680", :title "Building reliable agentic AI systems", :link "https://martinfowler.com/articles/reliable-llm-bayer.html", :published-at #inst "2026-06-21T04:28:39.000-00:00", :content "Article URL: https://martinfowler.com/articles/reliable-llm-bayer.html Comments URL: https://news.ycombinator.com/item?id=48615680 Points: 66 # Comments: 13"}, :excerpts [{:text "... URL: https://martinfowler.com/articles/reliable-llm-bayer.html Comments URL:...", :matched-terms ["llm"], :source :content}]}]