[{:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=48618455", :title "Identity verification on Claude", :link "https://support.claude.com/en/articles/14328960-identity-verification-on-claude", :published-at #inst "2026-06-21T12:44:13.000-00:00", :content "https://old.reddit.com/r/ClaudeAI/comments/1ubm53n/official_... Comments URL: https://news.ycombinator.com/item?id=48618455 Points: 181 # Comments: 161"}, :excerpts [{:text "Identity verification on Claude", :matched-terms ["claude"], :source :title} {:text "https://old.reddit.com/r/ClaudeAI/comments/1ubm53n/official_... Comments URL:...", :matched-terms ["claude"], :source :content}]}]