[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "http://acme.com/updates/archive/229.html", :title "LLM scraper bots are overloading acme.com's HTTPS server", :link "http://acme.com/updates/archive/229.html", :published-at #inst "2026-04-08T03:02:56.000-00:00", :content "Comments"}, :excerpts [{:text "LLM scraper bots are overloading acme.com's HTTPS...", :matched-terms ["llm"], :source :title}]}]