[{:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=47069299", :title "Anthropic officially bans using subscription auth for third party use", :link "https://code.claude.com/docs/en/legal-and-compliance", :published-at #inst "2026-02-19T02:52:26.000-00:00", :content "Article URL: https://code.claude.com/docs/en/legal-and-compliance Comments URL: https://news.ycombinator.com/item?id=47069299 Points: 218 # Comments: 224"}, :excerpts [{:text "Article URL: https://code.claude.com/docs/en/legal-and-compliance Comments URL:...", :matched-terms ["claude"], :source :content}]}]