[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://twitter.com/Fried_rice/status/2038894956459290963", :title "Claude Code's source code has been leaked via a map file in their NPM registry", :link "https://twitter.com/Fried_rice/status/2038894956459290963", :published-at #inst "2026-03-31T09:00:40.000-00:00", :content "Comments"}, :excerpts [{:text "Claude Code's source code has been leaked via a map file...", :matched-terms ["claude"], :source :title}]}]