[{:rule-id "rails", :item {:feed-id "planet-clojure", :item-id "https://clojure-diary.gitlab.io/2026/03/23/learn-ring-02-who-am-i", :title "Learn Ring - 02. Who Am I?", :link "https://clojure-diary.gitlab.io/2026/03/23/learn-ring-02-who-am-i.html", :published-at #inst "2026-03-23T03:53:00.000-00:00", :content "Notes Freelancer Karthikeyan A K (Car + Thick) Chennai, India Tech freak Web Developer Ruby on Rails Data Scientist SciCloj Book: Stats With Clojure Numerical Works Injee"}, :excerpts [{:text "... + Thick) Chennai, India Tech freak Web Developer Ruby on Rails Data Scientist SciCloj Book: Stats With Clojure...", :matched-terms ["ruby" "rails"], :source :content}]}]