[{:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=48345694", :title "I put a datacenter GPU in my gaming PC", :link "https://blog.tymscar.com/posts/v100localllm/", :published-at #inst "2026-05-31T13:53:16.000-00:00", :content "Article URL: https://blog.tymscar.com/posts/v100localllm/ Comments URL: https://news.ycombinator.com/item?id=48345694 Points: 175 # Comments: 121"}, :excerpts [{:text "... URL: https://blog.tymscar.com/posts/v100localllm/ Comments URL:...", :matched-terms ["llm"], :source :content}]}]