[{:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=47710007", :title "Moving from WordPress to Jekyll (and static site generators in general)", :link "https://www.demandsphere.com/blog/rebuilding-demandsphere-with-jekyll-and-claude-code/", :published-at #inst "2026-04-09T20:59:51.000-00:00", :content "Article URL: https://www.demandsphere.com/blog/rebuilding-demandsphere-with-jekyll-and-claude-code/ Comments URL: https://news.ycombinator.com/item?id=47710007 Points: 31 # Comments: 11"}, :excerpts [{:text "... Comments URL:...", :matched-terms ["claude"], :source :content}]}]