[{:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=47539188", :title "Schedule tasks on the web", :link "https://code.claude.com/docs/en/web-scheduled-tasks", :published-at #inst "2026-03-27T04:47:15.000-00:00", :content "Article URL: https://code.claude.com/docs/en/web-scheduled-tasks Comments URL: https://news.ycombinator.com/item?id=47539188 Points: 66 # Comments: 39"}, :excerpts [{:text "Article URL: https://code.claude.com/docs/en/web-scheduled-tasks Comments URL:...", :matched-terms ["claude"], :source :content}]}]