[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://blog.dailydoseofds.com/p/anatomy-of-the-claude-folder", :title "Anatomy of the .claude/ folder", :link "https://blog.dailydoseofds.com/p/anatomy-of-the-claude-folder", :published-at #inst "2026-03-27T14:35:45.000-00:00", :content "Comments"}, :excerpts [{:text "Anatomy of the .claude/ folder", :matched-terms ["claude"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://jeapostrophe.github.io/tech/jc-workflow/", :title "Don't Wait for Claude", :link "https://jeapostrophe.github.io/tech/jc-workflow/", :published-at #inst "2026-03-27T18:13:45.000-00:00", :content "Comments"}, :excerpts [{:text "Don't Wait for Claude", :matched-terms ["claude"], :source :title}]}]