[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://shvbsle.in/various-llm-smells/", :title "Various LLM Smells", :link "https://shvbsle.in/various-llm-smells/", :published-at #inst "2026-05-28T19:02:18.000-00:00", :content "Comments"}, :excerpts [{:text "Various LLM Smells", :matched-terms ["llm"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://minimaxir.com/2026/05/openrouter-hy3/", :title "The mysterious Hy3 LLM is topping OpenRouter Model Rankings by a large margin", :link "https://minimaxir.com/2026/05/openrouter-hy3/", :published-at #inst "2026-05-29T00:09:35.000-00:00", :content "Comments"}, :excerpts [{:text "The mysterious Hy3 LLM is topping OpenRouter Model Rankings by a large...", :matched-terms ["llm"], :source :title}]}]