[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://blog.kog.ai/real-time-llm-inference-on-standard-gpus-3-000-tokens-s-per-request/", :title "Real-time LLM Inference on Standard GPUs: 3k tokens/s per request", :link "https://blog.kog.ai/real-time-llm-inference-on-standard-gpus-3-000-tokens-s-per-request/", :published-at #inst "2026-05-29T09:47:23.000-00:00", :content "Comments"}, :excerpts [{:text "Real-time LLM Inference on Standard GPUs: 3k tokens/s per...", :matched-terms ["llm"], :source :title}]}]