[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://hugovergnes.github.io/little-lm-3-8b/", :title "Training a 3.8B LLM to 0.384 CORE for $998 – Hugo Vergnes", :link "https://hugovergnes.github.io/little-lm-3-8b/", :published-at #inst "2026-09-10T02:04:11.000-00:00", :content "Comments"}, :excerpts [{:text "Training a 3.8B LLM to 0.384 CORE for $998 – Hugo Vergnes", :matched-terms ["llm"], :source :title}]}]