[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.marketingdive.com/news/amazon-pilots-ad-services-in-chatgpt-what-marketers-need-to-know/829945/", :title "Amazon pilots ad services in ChatGPT", :link "https://www.marketingdive.com/news/amazon-pilots-ad-services-in-chatgpt-what-marketers-need-to-know/829945/", :published-at #inst "2026-09-10T14:13:09.000-00:00", :content "Comments"}, :excerpts [{:text "Amazon pilots ad services in ChatGPT", :matched-terms ["gpt"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://cognition.com/blog/swe-2", :title "Cognition launches new SWE-2 model, Rivaling Fable 5.1 and GPT-Astra", :link "https://cognition.com/blog/swe-2", :published-at #inst "2026-09-10T15:29:47.000-00:00", :content "Comments"}, :excerpts [{:text "... launches new SWE-2 model, Rivaling Fable 5.1 and GPT-Astra", :matched-terms ["gpt"], :source :title}]}]