[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://vas-blog.pages.dev/qwen-censorship/", :title "What political censorship looks like inside an LLM's weights (Qwen 3.5)", :link "https://vas-blog.pages.dev/qwen-censorship/", :published-at #inst "2026-05-19T00:16:31.000-00:00", :content "Comments"}, :excerpts [{:text "What political censorship looks like inside an LLM's weights (Qwen 3.5)", :matched-terms ["llm"], :source :title}]}]