[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.jay.ai/blog/llms-are-not-a-black-box", :title "LLMs are not the black box you were promised", :link "https://www.jay.ai/blog/llms-are-not-a-black-box", :published-at #inst "2026-06-02T23:27:30.000-00:00", :content "Comments"}, :excerpts [{:text "LLMs are not the black box you were promised", :matched-terms ["llm"], :source :title}]}]