[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.reuters.com/world/china/alibaba-ban-claude-code-workplace-over-alleged-backdoor-risks-source-says-2026-07-03/", :title "Alibaba to ban Claude Code in workplace over alleged backdoor risks, source says", :link "https://www.reuters.com/world/china/alibaba-ban-claude-code-workplace-over-alleged-backdoor-risks-source-says-2026-07-03/", :published-at #inst "2026-07-03T08:31:37.000-00:00", :content "Comments"}, :excerpts [{:text "Alibaba to ban Claude Code in workplace over alleged backdoor risks,...", :matched-terms ["claude"], :source :title}]}]