[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://github.com/jamesob/local-llm", :title "Jamesob's guide to running SOTA LLMs locally", :link "https://github.com/jamesob/local-llm", :published-at #inst "2026-07-03T15:03:43.000-00:00", :content "Comments"}, :excerpts [{:text "Jamesob's guide to running SOTA LLMs locally", :matched-terms ["llm"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://inpreparation.substack.com/p/opinion-i-was-not-allowed-to-type", :title "I Wasn't Allowed Prompting ChatGPT During My Chalk Talk: This Is Discrimination", :link "https://inpreparation.substack.com/p/opinion-i-was-not-allowed-to-type", :published-at #inst "2026-07-03T17:46:10.000-00:00", :content "Comments"}, :excerpts [{:text "I Wasn't Allowed Prompting ChatGPT During My Chalk Talk: This Is Discrimination", :matched-terms ["gpt"], :source :title}]}]