[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.redhat.com/en/blog/cpu-back-rethinking-cpu-gpu-split-llm-inference", :title "The CPU is back: Rethinking the CPU-GPU split for LLM inference", :link "https://www.redhat.com/en/blog/cpu-back-rethinking-cpu-gpu-split-llm-inference", :published-at #inst "2026-08-08T12:16:03.000-00:00", :content "Comments"}, :excerpts [{:text "The CPU is back: Rethinking the CPU-GPU split for LLM inference", :matched-terms ["llm"], :source :title}]}]