[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://so.long.thanks.fish/can-claude-fly-a-plane/", :title "Can Claude Fly a Plane?", :link "https://so.long.thanks.fish/can-claude-fly-a-plane/", :published-at #inst "2026-04-14T06:32:45.000-00:00", :content "Comments"}, :excerpts [{:text "Can Claude Fly a Plane?", :matched-terms ["claude"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=47761625", :title "Multi-Agentic Software Development Is a Distributed Systems Problem", :link "https://kirancodes.me/posts/log-distributed-llms.html", :published-at #inst "2026-04-14T05:32:48.000-00:00", :content "Article URL: https://kirancodes.me/posts/log-distributed-llms.html Comments URL: https://news.ycombinator.com/item?id=47761625 Points: 9 # Comments: 0"}, :excerpts [{:text "... URL: https://kirancodes.me/posts/log-distributed-llms.html Comments URL:...", :matched-terms ["llm"], :source :content}]}]