[{:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=48253060", :title "wake up! 16b", :link "https://hellmood.111mb.de/wake_up_16b_writeup.html", :published-at #inst "2026-05-24T00:30:50.000-00:00", :content "Article URL: https://hellmood.111mb.de/wake_up_16b_writeup.html Comments URL: https://news.ycombinator.com/item?id=48253060 Points: 7 # Comments: 1"}, :excerpts [{:text "Article URL: https://hellmood.111mb.de/wake_up_16b_writeup.html Comments...", :matched-terms ["llm"], :source :content}]}]