[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://lists.debian.org/debian-devel-announce/2026/08/msg00002.html", :title "Debian has begun voting on the future of AI/LLM contributions", :link "https://lists.debian.org/debian-devel-announce/2026/08/msg00002.html", :published-at #inst "2026-08-15T09:20:07.000-00:00", :content "Comments"}, :excerpts [{:text "Debian has begun voting on the future of AI/LLM contributions", :matched-terms ["llm"], :source :title}]}]