[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://philipotoole.com/why-talking-to-llms-has-improved-my-thinking/", :title "Talking to LLMs has improved my thinking", :link "https://philipotoole.com/why-talking-to-llms-has-improved-my-thinking/", :published-at #inst "2026-01-23T03:52:06.000-00:00", :content "Comments"}, :excerpts [{:text "Talking to LLMs has improved my thinking", :matched-terms ["llm"], :source :title}]}]