[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://openai.com/index/introducing-chatgpt-health/", :title "ChatGPT Health", :link "https://openai.com/index/introducing-chatgpt-health/", :published-at #inst "2026-01-07T19:29:39.000-00:00", :content "Comments"}, :excerpts [{:text "ChatGPT Health", :matched-terms ["gpt"], :source :title}]}]