[{:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=46823430", :title "BoldVoice (YC S21) Is Hiring Fullstack and Machine Learning Engineers", :link "https://boldvoice.notion.site/careers-page?p=2e871a9bf729806c81f6e47f32e32622&pm=s", :published-at #inst "2026-01-30T12:00:12.000-00:00", :content "Article URL: https://boldvoice.notion.site/careers-page?p=2e871a9bf729806c81f6e47f32e32622&pm=s Comments URL: https://news.ycombinator.com/item?id=46823430 Points: 0 # Comments: 0"}, :excerpts [{:text "BoldVoice (YC S21) Is Hiring Fullstack and Machine Learning Engineers", :matched-terms ["machine learning"], :source :title}]}]