[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://quint-lang.org/posts/llm_era", :title "Reliable Software in the LLM Era", :link "https://quint-lang.org/posts/llm_era", :published-at #inst "2026-03-12T08:19:46.000-00:00", :content "Comments"}, :excerpts [{:text "Reliable Software in the LLM Era", :matched-terms ["llm"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://entropicthoughts.com/no-swe-bench-improvement", :title "Are LLMs not getting better?", :link "https://entropicthoughts.com/no-swe-bench-improvement", :published-at #inst "2026-03-12T11:49:05.000-00:00", :content "Comments"}, :excerpts [{:text "Are LLMs not getting better?", :matched-terms ["llm"], :source :title}]}]