[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://microgpt.boratto.ca", :title "Show HN: Microgpt is a GPT you can visualize in the browser", :link "https://microgpt.boratto.ca", :published-at #inst "2026-02-15T18:40:35.000-00:00", :content "Comments"}, :excerpts [{:text "Show HN: Microgpt is a GPT you can visualize in the browser", :matched-terms ["gpt"], :source :title}]}]