[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.theregister.com/2026/02/16/anthropic_claude_ai_edits/", :title "Anthropic tries to hide Claude's AI actions. Devs hate it", :link "https://www.theregister.com/2026/02/16/anthropic_claude_ai_edits/", :published-at #inst "2026-02-16T11:06:28.000-00:00", :content "Comments"}, :excerpts [{:text "Anthropic tries to hide Claude's AI actions. Devs hate it", :matched-terms ["claude"], :source :title}]}]