[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://ynarwal.github.io/how-llms-work/", :title "Show HN: How LLMs Work – Interactive visual guide based on Karpathy's lecture", :link "https://ynarwal.github.io/how-llms-work/", :published-at #inst "2026-04-24T06:48:53.000-00:00", :content "Comments"}, :excerpts [{:text "Show HN: How LLMs Work – Interactive visual guide based on...", :matched-terms ["llm"], :source :title}]}]