[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://cdn.openai.com/pdf/how-organizations-use-chatgpt.pdf", :title "How Organizations Use AI: Evidence from ChatGPT [pdf]", :link "https://cdn.openai.com/pdf/how-organizations-use-chatgpt.pdf", :published-at #inst "2026-08-13T19:25:38.000-00:00", :content "Comments"}, :excerpts [{:text "How Organizations Use AI: Evidence from ChatGPT [pdf]", :matched-terms ["gpt"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=49292932", :title "How AI text watermarking works", :link "https://declaude.org/watermarking/", :published-at #inst "2026-08-13T23:16:55.000-00:00", :content "Article URL: https://declaude.org/watermarking/ Comments URL: https://news.ycombinator.com/item?id=49292932 Points: 82 # Comments: 50"}, :excerpts [{:text "Article URL: https://declaude.org/watermarking/ Comments URL:...", :matched-terms ["claude"], :source :content}]}]