[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.dbreunig.com/2026/02/21/why-is-claude-an-electron-app.html", :title "Why is Claude an Electron app?", :link "https://www.dbreunig.com/2026/02/21/why-is-claude-an-electron-app.html", :published-at #inst "2026-02-21T21:28:13.000-00:00", :content "Comments"}, :excerpts [{:text "Why is Claude an Electron app?", :matched-terms ["claude"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://github.com/sophiaeagent-beep/n64llm-legend-of-Elya", :title "Happy Zelda's 40th first LLM running on N64 hardware (4MB RAM, 93MHz)", :link "https://github.com/sophiaeagent-beep/n64llm-legend-of-Elya", :published-at #inst "2026-02-21T21:40:13.000-00:00", :content "Comments"}, :excerpts [{:text "Happy Zelda's 40th first LLM running on N64 hardware (4MB RAM, 93MHz)", :matched-terms ["llm"], :source :title}]}]