[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://boristane.com/blog/how-i-use-claude-code/", :title "How I use Claude Code: Separation of planning and execution", :link "https://boristane.com/blog/how-i-use-claude-code/", :published-at #inst "2026-02-22T00:29:05.000-00:00", :content "Comments"}, :excerpts [{:text "How I use Claude Code: Separation of planning and execution", :matched-terms ["claude"], :source :title}]}]