[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://twitter.com/thsottiaux/status/2073933490513752151", :title "GPT-5.6 Sol Ultra will be in Codex", :link "https://twitter.com/thsottiaux/status/2073933490513752151", :published-at #inst "2026-07-06T01:04:03.000-00:00", :content "Comments"}, :excerpts [{:text "GPT-5.6 Sol Ultra will be in Codex", :matched-terms ["gpt"], :source :title}]}]