[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://antoine.fi/mri-analysis-using-claude-code-opus", :title "I used Claude Code to get a second opinion on my MRI", :link "https://antoine.fi/mri-analysis-using-claude-code-opus", :published-at #inst "2026-06-28T16:35:19.000-00:00", :content "Comments"}, :excerpts [{:text "I used Claude Code to get a second opinion on my MRI", :matched-terms ["claude"], :source :title}]}]