[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://news.ycombinator.com/item?id=48128003", :title "Tell HN: Dont use Claude Design, lost access to my projects after unsubscribing", :link "https://news.ycombinator.com/item?id=48128003", :published-at #inst "2026-05-13T21:40:18.000-00:00", :content "Comments"}, :excerpts [{:text "Tell HN: Dont use Claude Design, lost access to my projects after...", :matched-terms ["claude"], :source :title}]}]