[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.tomshardware.com/tech-industry/cryptocurrency/bitcoin-trader-recovers-usd400-000-using-claude-ai-after-losing-wallet-password-11-years-ago-bot-tried-3-5-trillion-passwords-before-decrypting-an-old-wallet-backup", :title "Claude AI recovers an 11 yrs old BTC wallet holding 400k USD", :link "https://www.tomshardware.com/tech-industry/cryptocurrency/bitcoin-trader-recovers-usd400-000-using-claude-ai-after-losing-wallet-password-11-years-ago-bot-tried-3-5-trillion-passwords-before-decrypting-an-old-wallet-backup", :published-at #inst "2026-05-14T14:49:48.000-00:00", :content "Comments"}, :excerpts [{:text "Claude AI recovers an 11 yrs old BTC wallet holding 400k...", :matched-terms ["claude"], :source :title}]}]