[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://boydkane.com/essays/llms-could-control-their-host-machines-by-exploiting-inference-engines", :title "LLMs could control their host machines by exploiting inference engines", :link "https://boydkane.com/essays/llms-could-control-their-host-machines-by-exploiting-inference-engines", :published-at #inst "2026-08-24T19:03:06.000-00:00", :content "Comments"}, :excerpts [{:text "LLMs could control their host machines by exploiting...", :matched-terms ["llm"], :source :title}]}]