[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://9to5mac.com/2026/08/24/openai-restores-5-hour-codex-and-work-limits-for-chatgpt-plus-users/", :title "OpenAI restores 5-hour Codex and Work limits for ChatGPT Plus users", :link "https://9to5mac.com/2026/08/24/openai-restores-5-hour-codex-and-work-limits-for-chatgpt-plus-users/", :published-at #inst "2026-08-25T12:33:00.000-00:00", :content "Comments"}, :excerpts [{:text "... restores 5-hour Codex and Work limits for ChatGPT Plus users", :matched-terms ["gpt"], :source :title}]}]