[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://rohanadwankar.github.io/posts/platforms.html", :title "The VMs Powering Mobile Agents (Instinct, Claude Code)", :link "https://rohanadwankar.github.io/posts/platforms.html", :published-at #inst "2026-09-08T04:36:26.000-00:00", :content "Comments"}, :excerpts [{:text "The VMs Powering Mobile Agents (Instinct, Claude Code)", :matched-terms ["claude"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://github.com/TauricResearch/TradingAgents", :title "Multi-Agents LLM Financial Trading Framework", :link "https://github.com/TauricResearch/TradingAgents", :published-at #inst "2026-09-08T05:20:23.000-00:00", :content "Comments"}, :excerpts [{:text "Multi-Agents LLM Financial Trading Framework", :matched-terms ["llm"], :source :title}]}]