[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://ishamf.dev/p/llm-attention-visualizer/", :title "Show HN: LLM Attention Visualization", :link "https://ishamf.dev/p/llm-attention-visualizer/", :published-at #inst "2026-09-08T16:59:41.000-00:00", :content "Comments"}, :excerpts [{:text "Show HN: LLM Attention Visualization", :matched-terms ["llm"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://openai.com/index/introducing-chatgpt-images-2-5/", :title "ChatGPT Images 2.5", :link "https://openai.com/index/introducing-chatgpt-images-2-5/", :published-at #inst "2026-09-08T18:37:51.000-00:00", :content "Comments"}, :excerpts [{:text "ChatGPT Images 2.5", :matched-terms ["gpt"], :source :title}]}]