[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://www.anthropic.com/news/accelerating-scientific-research", :title "How scientists are using Claude to accelerate research and discovery", :link "https://www.anthropic.com/news/accelerating-scientific-research", :published-at #inst "2026-01-18T03:22:52.000-00:00", :content "Comments"}, :excerpts [{:text "How scientists are using Claude to accelerate research and discovery", :matched-terms ["claude"], :source :title}]} {:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://twitter.com/neelsomani/status/2012695714187325745", :title "Erdos 281 solved with ChatGPT 5.2 Pro", :link "https://twitter.com/neelsomani/status/2012695714187325745", :published-at #inst "2026-01-18T03:48:03.000-00:00", :content "Comments"}, :excerpts [{:text "Erdos 281 solved with ChatGPT 5.2 Pro", :matched-terms ["gpt"], :source :title}]}]