[{:rule-id "rule-ai", :item {:feed-id "hn-frontpage", :item-id "https://news.ycombinator.com/item?id=48496483", :title "Tailwind and slop apps", :link "https://briandouglas.ie/llm-tailwind-template/", :published-at #inst "2026-06-11T21:12:47.000-00:00", :content "Article URL: https://briandouglas.ie/llm-tailwind-template/ Comments URL: https://news.ycombinator.com/item?id=48496483 Points: 20 # Comments: 11"}, :excerpts [{:text "Article URL: https://briandouglas.ie/llm-tailwind-template/ Comments URL:...", :matched-terms ["llm"], :source :content}]}]