[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://ankursethi.com/blog/prevent-cognitive-debt-by-manually-retyping-llm-generated-code/", :title "Prevent cognitive debt by manually retyping LLM-generated code", :link "https://ankursethi.com/blog/prevent-cognitive-debt-by-manually-retyping-llm-generated-code/", :published-at #inst "2026-08-03T09:32:07.000-00:00", :content "Comments"}, :excerpts [{:text "Prevent cognitive debt by manually retyping LLM-generated code", :matched-terms ["llm"], :source :title}]}]