[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://twitter.com/NicerInPerson/status/2014989679796347375", :title "Claude Code's new hidden feature: Swarms", :link "https://twitter.com/NicerInPerson/status/2014989679796347375", :published-at #inst "2026-01-24T14:35:47.000-00:00", :content "Comments"}, :excerpts [{:text "Claude Code's new hidden feature: Swarms", :matched-terms ["claude"], :source :title}]}]