[{:rule-id "rails", :item {:feed-id "planet-clojure", :item-id "https://clojure-diary.gitlab.io/2026/03/21/learn-ring-01-why-this-course", :title "Learn Ring - 01. Why This Course?", :link "https://clojure-diary.gitlab.io/2026/03/21/learn-ring-01-why-this-course.html", :published-at #inst "2026-03-21T08:05:00.000-00:00", :content "Notes I am.a web developer Most of my money came from Ruby on Rails Clojure blew me off Pulled me away from Julia Writing a stock trading bot My ring success Injee Biff This course is completely free Libre Gratis You can donate for this course https://paypal.me/mindaslab"}, :excerpts [{:text "... I am.a web developer Most of my money came from Ruby on Rails Clojure blew me off Pulled me away from Julia...", :matched-terms ["ruby" "rails"], :source :content}]}]