[{:rule-id "rule-ai", :item {:feed-id "hn", :item-id "https://qlabs.sh/slowrun", :title "NanoGPT Slowrun: Language Modeling with Limited Data, Infinite Compute", :link "https://qlabs.sh/slowrun", :published-at #inst "2026-03-04T17:56:04.000-00:00", :content "Comments"}, :excerpts [{:text "NanoGPT Slowrun: Language Modeling with Limited Data,...", :matched-terms ["gpt"], :source :title}]}]